@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.bgcolor {
  background-color: #373356;
}

.navItem:hover {
  border-bottom: 2px solid white;
}

.socials {
  width: fit-content;
  top: 11%;
}

h1 .getTo {
  color: #373356;
}

span .text1 {
  color: #373356;
}

span .text2 {
  color: #373356;
}

.tech {
  margin-left: 410px;
}

.imgHeight {
  height: auto;
  width: auto;
  background-size: cover;
}

.card1 {
  max-width: 85%;
  margin: 1.5rem auto;
}
